.video {
    position: relative;
    width: 100%;
    @include dflex-col("true");
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .hover-play{
        position: absolute;
        background-color: $main-color;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        height: 100%;
        width: 70%;
        opacity: 0;
        border-radius: 2px;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        color: #ffff;
        font-size: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

       &:hover{
            opacity: 0.6;
        }
    }

    .video__img {
        width: 90%;
        height: 200px;
        object-fit: contain;
        margin-bottom: 10px;

        img {
            border-radius: 2px;
        }
    }

    .caption {
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        display: flex;
        flex-direction: column;
        text-align: left;
        color: $main-color;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.151);

        @media screen and (max-width: 1200px) {
            & {
                text-align: center;
            }
        }

        .video__nome {
            font-size: 20px;
            padding: 4px 0 10px 0;
            margin: 0;
        }

        .video__classificacao {
            font-size: 16px;
        }

        .video__descricao {
            font-size: 14px;
        }

        .produto__button {
            text-align: center;
        }
    }
}